# Specify version format
version: "{build}-{branch}"

# Build worker image (VM template)
image: Visual Studio 2019

# Build platform, i.e. Win32, x64.
platform:
  - x64

# Scripts that run after cloning repository
install:
  - cmd: set JAVA_HOME=C:\Program Files\Java\jdk1.8.0
  - cmd: set PATH=%JAVA_HOME%;%PATH%

build_script:
  - java -version
  - ./gradlew build --stacktrace

artifacts:
  - path: build\libs\*.jar
    name: JarFile
    type: jar

deploy:
  tag: $(APPVEYOR_REPO_TAG_NAME)
  provider: GitHub
  release: Release $(APPVEYOR_REPO_TAG_NAME)
  description: |
    Created automatically by AppVeyor.
    https://ci.appveyor.com/project/edoren/skinchanger/builds/$(APPVEYOR_BUILD_ID)
  auth_token:
    secure: pLBhgKwl5E3O4z/7aAn/qt+w2mGb23xbFe6nikPfGV6xeERmIvQltylYc3mKJ7iI
  artifact: /.*\.(jar)/
  force_update: true
  on:
    # https://www.appveyor.com/docs/deployment/#deploy-on-tag-github-and-gitlab-only
    APPVEYOR_REPO_TAG: true
