# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
/logs

# VSCode
/.vscode

# gradle
build
.gradle

# other
.architectury-transformer
eclipse
run

# Files from Forge MDK
forge*changelog.txt
