modLoader="javafml"
license="MIT"
loaderVersion="[31,)" 
issueTrackerURL="https://github.com/edoren/SkinChanger/issues?q=is:Aissue+is:Aopen+sort:Aupdated-desc"

[[mods]]
modId="skin_changer"
version="${file.jarVersion}"
displayName="Skin Changer"
# updateJSONURL=""
displayURL="https://github.com/edoren/SkinChanger"
logoFile="logo.png"
# credits=""
authors="Edoren"
description="This mod allows you to change your Minecraft server skin on the fly even if it is in offline mode."

[[dependencies.skin_changer]]
    modId="forge"
    mandatory=true
    versionRange="[31,)"
    ordering="NONE"
    side="BOTH"

[[dependencies.skin_changer]]
    modId="minecraft"
    mandatory=true
    versionRange="[1.16.3,1.16.4]"
    ordering="NONE"
    side="BOTH"
